/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

html {
    background: linear-gradient(to bottom right, rgba(241, 115, 0, 0.8), rgba(29, 53, 157, 1));
    min-height: 100%;
    font-family: sans-serif;
}

.controlTab {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 60%;
    margin: 50px 20%;
    z-index: -1;
}

.buttonDiv button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.ordersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.buttonRow {
    /**display: inline;**/
    display: flex;
    justify-content: center;
}

.center {
    margin: auto;
    width: 50%;
}

.moveCard {
    margin: auto;
    padding: 10px 20px;
    z-index: 2;
}

input {
    border: 0px solid #ccc;
    background-color: #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 25px;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}

.moveCardItem {
    margin: 0 10px;
    height: 40px;
    z-index: 4;
}

button {
    font-size: 30px;
    background-color: white;
    border: none;
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    width: 60px;
    height: 60px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    align-items: center;
}

.eraseClass {
    vertical-align: middle;
    background-color: white;
    align-self: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: right;
}

button:hover {
    background: #668ad8;
}

h1 {
    padding: 20px 0px 0px 0px;
    text-align: center;
}

#constantSpeedInput {
    width: 40%;
    margin: 20px 30%;
}

@media screen and (max-width: 1600px) {
    .controlTab {
        width: 80%;
        margin: 30px 10%;
    }
    .moveCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }
    .moveCardItem {
        width: 60%;
        margin: 5px 20%;
        padding: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .controlTab {
        width: 90%;
        margin: 20px 5%;
        background: none;
        box-shadow: none;
    }
    .moveCardItem {
        width: 90%;
        margin: 5px 5%;
    }
    .moveCard {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
    }
    h1 {
        color: White;
    }
    h2 {
        font-size: 60px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        color: lightblue;
    }
    .moveCardHeader {
        position: absolute;
        z-index: 3;
        left: 30px;
    }
    #constantForm {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
    }
}